.link {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.menuButton {
	padding: 0;
}

.menuRoot {
	background-color: #2f3135;
	padding: 0;
	width: 200px;
}

.menuItem {
	justify-content: flex-end;
	padding: 10px 18px;
}
