.mainContainer {
	max-width: 1024px;
}

.mainTitle {
	margin-top: 60px;
	font-weight: bold;
	padding: 20px;
	font-size: 3rem;
	text-align: center;
}

.spanColor {
	color: #497445;
}

.bannerImage {
	opacity: 0.4;
	width: 100%;
	height: auto;
}

.title {
	margin-bottom: 15px;
	font-size: 3rem;
}
.titleContainer {
	text-align: center;
}

.bannerContainer {
	margin: 60px 0;
}

.bannerContentBox {
	padding: 20px;
}

.content {
	font-size: 20px;
	line-height: 1.6;
}

.customTitle {
	font-size: 1.5rem;
	color: #497445;
	line-height: 1.3;
}

.contentContainer {
	width: 100%;
}

.infoContainer {
	border: 2px solid #497445;
	padding: 20px 15px;
	border-radius: 4px;
}

.contentBox {
	text-align: center;
	padding: 18px 12px;
}

.contentTitle {
	margin-bottom: 15px;
	font-size: 1.75rem;
}

.cta {
	font-size: 18px;
}

.menuContainer {
	padding: 14px;
}

.hookahPackagesContainer {
	margin-top: 100px;
}

.packagesCta {
	font-size: 1.35em;
	margin-bottom: 5px;
}

@media only screen and (min-width: 800px) {
	.contentContainer {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.contentBox {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
	}

	.infoContainer {
		width: 49%;
	}
	.bannerContainer {
		flex-direction: row;
		text-align: left;
	}

	.bannerContentBox {
		height: 100%;
	}

	.bannerImage {
		width: 400px;
	}
}

@media only screen and (max-width: 800px) {
	.title {
		font-size: 1.4rem;
	}

	.content {
		font-size: 1.2rem;
	}
}
