.container {
	width: 100%;
}

.card {
	background-color: transparent;
}

.chip {
	color: white;
	margin-bottom: 20px;
}

.title {
	color: white;
}

.description {
	color: #ccc;
	margin: 20px 0;
}

.divider {
	background-color: #497445;
	margin: 10px 0;
}

.image {
	margin: 0 10px;
}

.listItemText {
	color: white;
}

.priceContainer {
	text-align: right;
	padding: 4px;
}

.price {
	margin-right: auto;
	color: white;
	font-size: 1.3em;
}
