.card {
	background-color: #121212;
	border-radius: 8px;
	height: 100%;
	border: 2px solid #497445;
	padding: 8px;
}

.cardHeader {
	color: white;
	padding: 8px;
	padding-left: 20px;
}

.cardContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8px;
}

.description {
	color: white;
	font-size: 18px;
	line-height: 1.6;
	font-weight: light;
}
